 /* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}
.clear{clear: both;}

*{font-family: 'ProximaNova', sans-serif; font-weight: 100; }
body { margin: 0; padding: 0; color: #555; background: #999;overflow-x: ;}
b{font-weight: 600;}
a{color: #FD625E}
a:hover{color: #555}
h1{font-size: 24pt; color: #AFAB98; padding: 20px 0}
.container{min-height: 500px;position: relative;}
#page { background: white;}

#header { margin: 0; padding: 0;}
.header-cat-name{position: absolute; color: white; left: 500px; top: -85px; z-index: 99; margin: 0; padding: 0}
#content { padding: 20px; box-sizing: border-box; }
#sidebar { padding: 20px 20px 20px 0; float: right; width: 30%;box-sizing: border-box;  position: absolute; top: 85px; right: -1px; border:1px solid #AFAB98;}
#footer { padding: 10px; margin: 10px; font-size: 12pt; color: white }
#logo { padding: 10px 20px; font-size: 200%;color: white; width: 50%}
#user-personal{float: right}
#user-personal ul{padding:6px 20px 5px 20px; margin:-50px 0 0 0;}
#user-personal  ul li { display: inline;}
#user-personal  ul li a{color: white; text-decoration: none;}
#main-menu {background: #FD625E}
#main-menu ul { padding:0 10px 0 10px; margin:0px;}
#main-menu ul li { display: inline;}
#main-menu ul li a { color:#ffffff; background-color:transparent; font-size:14pt; text-decoration:none; padding:5px 10px;}
#main-menu ul li a:hover{ color: #FD625E; background-color: white; text-decoration:none;}
#main-menu ul li.active a{ color: #FD625E; background-color: #f0f0f0; text-decoration:none;}
div.flash-error, div.flash-notice, div.flash-success { padding:.8em; margin-bottom:1em;}
div.flash-error { background:#FBE3E4; color:#8a1f11; border-color:#FBC2C4;}
div.flash-notice { background:#FFF6BF; color:#514721; border-color:#FFD324;}
div.flash-success {}
div.flash-error a { color:#8a1f11;}
div.flash-notice a { color:#514721;}
div.flash-success a {}
div.form .rememberMe label { display: inline;}
div.view { padding: 10px; margin: 10px 0; border-bottom: 1px solid #AFAB98;}
div.view:last-child{border: 0}
div.breadcrumbs { font-size: 0.9em; padding: 5px 20px; background: #f0f0f0;}
div.breadcrumbs span {}
div.search-form { padding: 10px; margin: 10px 0; background: #eee;}
.portlet {}
.portlet-decoration {}
.portlet-title { font-size: 18pt;padding:0 20px; margin: 0; color: #AFAB98;}
.portlet-content { font-size:0.9em; margin: 0 0 15px 0; padding: 5px 8px;}
.portlet-content ul { list-style-image:none; list-style-position:outside; list-style-type:none; margin: 0; padding: 0;}
.portlet-content li { padding: 2px 0 4px 0px;}
.operations { list-style-type: none; margin: 0; padding: 0;}
.operations li { padding-bottom: 2px;}
.operations li a {display: block; padding: 2px 0 2px 8px; font-size: 12pt;}
.operations li a:visited {}
.operations li a:hover { background: #f0f0f0;}
table.detail-view tr.odd {background: #f0f0f0 !important;}
.dash1,.dash2,.dash3{width: 100%; position: relative;}
.dash1 .col1{width: 40%; float: left;}

.dash1 .col1 button{cursor: pointer; border: 1px solid #FD625E; color: #FD625E; text-align: center; background-color: white; font-size: 21px; width: 30%; padding: 15px; }
.dash1 .col1 button.active{color: white; background-color: #FD625E}
.dash1 .col1 button.active:hover{color: white; background-color: #FD625E; border: 1px solid #FD625E;}
.dash1 .col1 button:hover{border:1px solid #69D7C6; color: #69D7C6}
.dash1 .col1 ul{margin:30px 0; padding:0 30px 0 0}

.dash1 .col1 ul li{ list-style: none;  height: 100px; display: block; font-size: 20px;}
.dash1 .col1 ul > li:before{background:#FD625E; content: ""; width: 24px; height: 24px; display: inline-block; margin-right: 10px; border-radius: 100% }
.dash1 .col1 ul > li:nth-child(2):before{background: #69D7C6;}
.dash1 .col1 ul > li:nth-child(3):before{background: #7E4D76;}
.dash1 .col1 ul li span{ display: block; font-size: 24px; text-align: right; color: #AFAB98;}
.dash1 .col2{width: 60%; float: right;}
.dash1 .col2 canvas{max-height: 500px;}

.dash2 .round-sheme{float: left; width: 400px; background: #f0f0f0; margin-right: 20px; padding: 20px; height: 460px; position: relative;}
.dash2 .round-sheme h4{font-size: 24px; margin: -7px 0 0 0; padding: 0}
.dash2 .round-sheme button{cursor: pointer; border: 1px solid #FD625E; color: #FD625E; text-align: center; background-color: transparent; font-size: 21px; width: 90%; padding: 15px; position: absolute; bottom: 20px}
.dash2 .round-sheme button:hover{color: white; background-color: #FD625E; border: 1px solid #FD625E;}
.dash2 .round-sheme .close{ position: absolute; right: 20px; top: 20px; background: url(../images/close-img.png); background-size: 25px 25px; height: 25px; width: 25px; display: inline-block; }
.dash2 .round-sheme ul li {list-style: none; display: inline-block; margin-right: 20px;}
.dash2 .round-sheme ul li:before{background:#FD625E; content: ""; width: 24px; height: 24px; display: inline-block; margin-right: 10px;}
.dash2 .round-sheme ul li:nth-child(2):before{background: #69D7C6;}
.dash2 .round-sheme ul li:nth-child(3):before{background: #7E4D76;}
.dash2 .round-sheme canvas{width: 400px; height: 300px;}

.dash3{}
.dash3 ul li:first-child{margin-left: 0;}
.dash3 ul li{ list-style: none;  height: 100px; display: inline-block; font-size: 20px; margin-left: 30px;}
.dash3 ul > li:before{background:#FD625E; content: ""; width: 24px; height: 24px; display: inline-block; margin-right: 10px; border-radius: 100% }
.dash3 ul > li:nth-child(2):before{background: #69D7C6;}
.dash3 ul > li:nth-child(3):before{background: #7E4D76;}
.dash3 button{}

.dash3 button{cursor: pointer; border: 1px solid #FD625E; color: #FD625E; text-align: center; background-color: transparent; font-size: 21px; width: 200px; height: 51px; padding: 15px; position: absolute; bottom: 20px; right:0; top: 70px;}
.dash3 button:hover{color: white; background-color: #FD625E; border: 1px solid #FD625E;}
.dash-information{background-color: #777; margin: -20px; padding: 20px; position: relative;}
.dash-information .settings{right: 20px; color: #69D7C6}
.dash-information .settings:hover{color: white}
.dash-information h1{color: white; margin: 0; padding: 0;}
.info-block{width: 30%; margin-right: 20px; float: left; position: relative;}
.info-block p{color: #f0f0f0;}
.info-block h3{font-size: 22px; color: white}

.info-block button{cursor: pointer; border: 1px solid white; color: white; text-align: center; background-color: transparent; font-size: 21px; width: 200px; height: 51px; padding: 15px; margin-top: 20px;}
.info-block button:hover{color: #777; background-color: #69D7C6; border: 1px solid #69D7C6;}
.info-block .close{ position: absolute; right: 20px; bottom: 20px; background: url(../images/close-img.png); background-size: 25px 25px; height: 25px; width: 25px; display: inline-block; }

.over{ padding: 20px 0; border-bottom: 1px solid #ccc}
.date-order{position: absolute; top: 35px; left: 40%; font-size: 18px;}
.settings{position: absolute; top: 35px; right: 0;}
:hover{transition: color 250ms ease-in-out 0s, background-color 250ms ease-in-out 0s, border-color 250ms ease-in-out 0s;}
.web-analytic{}
.web-analytic,.inboard{border: 1px solid #ccc; float: left; padding: 25px; width: 49%; height: 300px; position: relative; margin: 0 1% 1% 0;box-sizing: border-box; }
.web-analytic:hover,.inboard:hover{border: 1px solid #69D7C6;}
.web-analytic .close,.inboard-active .close{ position: absolute; right: 20px; top: 20px; background: url(../images/close-img.png); background-size: 25px 25px; height: 25px; width: 25px; display: inline-block; z-index: 900 }

.table-data{width: 100%; padding: 15px 0; }
.table-data tr:first-child{ background-color: #69D7C6 !important}
.table-data tr:nth-child(odd){background-color: #f0f0f0}
.table-data td{font-weight: 100; font-size: 22px; padding: 10px;}
.table-data tr:hover{background-color: #ccc}
.inboard-active{border: 1px solid #ccc; padding: 25px; width: 100%; position: relative; margin: 0 20px 20px 0; box-sizing: border-box; clear: both;
float: left; }
.customize-graph{display: none; height: 200px; position: absolute; top: 25px; left: 50%}
.customize-graph input[type="submit"]{cursor: pointer; border: 1px solid #FD625E; color: #FD625E; text-align: center; background-color: transparent; font-size: 21px; width: 100%; padding: 15px; position: absolute; bottom: 0;}


.customize-graph input[type="text"]{ border:0; border-bottom: 1px solid gray; font-size: 16pt;color: #FD625E; margin-top: 25px; text-align: center; width: 100%}

.inboard svg text[text-anchor="start"]{font-size: 12pt !important}
.flash-success{color: #69D7C6; border: 1px solid #69D7C6; background: white;}
.select-drop-down{background: #69D7C6; border: 0; padding: 5px; color: white; font-size: 16px}
.my-drop-down option:hover{background: #FD625E}
.check-list{display: none; clear: both; margin-top: 25px;}
.check-list li{list-style: none; display: inline-block; border: 1px solid #FD625E; padding:3px 5px ; margin-right: 10px; margin-bottom: 10px;}
.check-list li:nth-child(2n){border: 1px solid #69D7C6;}
.check-list li:nth-child(3n){border: 1px solid #7E4D76;}
.graphic-add{width: 50%; position: relative; right: 0px; margin-top: -60px; text-align: right; float: right;}
.graphic-add div{display: none; width: 50%; padding:50px 25px 15px 25px;  border: 1px solid #ccc; background: white; position: absolute; z-index: 999; right: 0; top: -10px;}
.graphic-add div input{width: 100%; box-sizing: border-box; margin-bottom: 15px; font-size: 16pt; padding: 10px;}
.graphic-add div input[type="submit"]{cursor: pointer; border: 1px solid #FD625E; color: #FD625E; text-align: center; background-color: transparent; font-size: 21px; padding: 15px; bottom: 0;}
.graphic-add div .close-add-number{ position: absolute; right: 10px; top: 10px; background: url(../images/close-img.png); background-size: 25px 25px; height: 25px; width: 25px; display: inline-block; z-index: 999 }
input[type="submit"]:hover{background: #FD625E !important; color: white !important}
.ask-content{display: none; width: 25%; float: right; position: absolute; top: 25px; right: 25px}
.ask-content h3{font-size: 18px;}
.extend{
 position: relative;
 display: block;
 cursor: pointer;
 border: 1px solid #FD625E;
 color: #FD625E;
 text-align: center;
 background-color: transparent;
 font-size: 21px;
 width: 100%;
 padding: 5px 0;
 bottom: 0;
 text-decoration: none;
}

.extend:hover{background: #FD625E; color: white;}